@import url('https://unpkg.com/react-image-crop/dist/ReactCrop.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grey: #aaaaaa;
  --black: #111111;
  --white: #F5F7FC;
  --blue: #40C6FF;
  --black-blue: #7368E0;
  --box-shadow: 0 4px 4px rgba(1, 1, 1, 0.1), 0 1px 2px rgba(1, 1, 1, 0.05);
  --button-hover: #40C6FF;
}


html,
body {
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
}

body {
  color: var(--black);
  background: var(--white);
  font-family: Rubik, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.main_button {
  background-color: var(--black-blue);
}

.main_button:hover {
  box-shadow: var(--box-shadow);
}

input:focus {
  outline-color: var(--black-blue);
}

.bg-form-bg {
  background-color: #ffffff; /* Белый фон */
}

.discussions {
  max-height: 70vh;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.discussions::-webkit-scrollbar {
  display: none;
}

/* Скрываем скроллбар для всех элементов, но сохраняем функциональность скроллинга */
/* Для Webkit браузеров (Chrome, Safari, новые версии Edge) */
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

/* Для Firefox */
* {
  scrollbar-width: none;
}

/* Для IE и Edge */
* {
  -ms-overflow-style: none;
}

/* Повторно применяем стили к конкретным элементам с прокруткой */
.overflow-y-auto, .overflow-y-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.overflow-y-auto::-webkit-scrollbar, .overflow-y-scroll::-webkit-scrollbar {
  display: none;
}

/* Утилитарный класс для скрытия скроллбара */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE и Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Webkit браузеры */
  width: 0;
  height: 0;
}